<div class="bg-black">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-full">
    <h1 class="text-xl font-bold leading-tight tracking-tight sm:text-2xl text-white text-center">
      Welcome to HiveMind
    </h1>
    <img src="HM.png" alt="HiveMind Logo">
    <div class="m-5">
      <p class="text-gray-500 dark:text-gray-400 text-center">
        A place to share your ideas and thoughts with the world.
      </p>
    </div>
    <a routerLink="/login" class="group relative py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-teal-800 hover:bg-teal-900">
      Get started
    </a>
  </div>
</div>